*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex; /*vemos los item de forma horizontal*/
    min-height: 70px;
    background-color: #F5CB00;
    justify-content: space-between; /*los elementos se separen de esquina a esquina*/
    align-items: center;
    padding: 20px;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
}
.nav-item{
    color: #000000;
    font-weight: 700; /*aplicar negrita*/
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 35px; /*separacion de los items*/
}
.nav-item:hover{
    color: #E6E6E6;;
}

.whiteSection1{
    background-color: #FFFFFF;
    display: flex;
}
.img1{
    max-width: 400px;
    float: left;
}


.whiteSection1, h2, p, button{
    width: 50vw;
    /* flex-direction: column;*/
    justify-content: center;
    align-items: center; 
}
p{
    width: 50vw;
}











.yellowSection{
    background-color: #F5CB00;
}
.greySection{
    background-color: #E6E6E6;
}
.blackSection{
    background-color: #000000;
}
.blackForm{
    background-color: #000000;
}